<div class="app-container">
  <h2>Comments</h2>
  <ul class="comment-list">
    <li *ngFor="let comment of comments">
      <div class="comment-icon">
        <i class="fa fa-comment" aria-hidden="true"></i>
      </div>
      <div class="comment-content">
        <p>{{ comment.text }}</p>
        <span class="comment-timestamp">{{ comment.timestamp | date:'medium' }}</span>
      </div>
    </li>
  </ul>

  <div class="new-comment">
    <div class="input-container">
      <input type="text" [(ngModel)]="newCommentText" (keyup)="onInputKeyUp($event)">
      <ul *ngIf="showDropdown" class="user-dropdown">
        <li *ngFor="let user of filteredUsers" (click)="selectUser(user)"> {{ user.name }} </li>
      </ul>
    </div>
    <button (click)="onAddComment()">Add Comment</button>
  </div>
</div>
